<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="MDE Model To Model Transformations"
            id="MDEModelToModelTransformations.commands.category">
      </category>
      <command
            name="MDE Model To Model Transformations"
            categoryId="MDEModelToModelTransformations.commands.category"
            id="MDEModelToModelTransformations.commands.ExecuteModelToModelTransformations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="MDEModelToModelTransformations.commands.ExecuteModelToModelTransformations"
            class="eu.fp7.scase.mdemodeltomodeltransformations.handlers.ModelToModelTransformationQueue">
      </handler>
   </extension>

</plugin>
