<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MDE Category"
            id="eu.scasefp7.eclipse.mde.ui.category">
      </category>
      <view
            name="MDE GUI"
            icon="icons/sample.gif"
            category="eu.scasefp7.eclipse.mde.ui.category"
            class="eu.fp7.scase.mdepluginwrapper.views.MDETopLevelUIInvoker"
            id="eu.scasefp7.eclipse.mde.ui.views.MDETopLevelUIInvoker">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="eu.scasefp7.eclipse.mde.ui.views.MDETopLevelUIInvoker">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
