<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://adsfasdf:asdfasdfa/
        </property>
        <property name="hibernate.connection.username">
            adfasdf
        </property>
        <property name="hibernate.connection.password">
            asdfasdf
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default.indexBase">webapps/testService</property>
    </session-factory>
</hibernate-configuration>
